<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-5 footer-contact floating-left">
                <p><i class="fas fa-envelope"></i>    mathieutwalters@gmail.com</p>
                <p><i class="fas fa-map-marker-alt"></i>    Your address here.</p>
                <p><i class="fas fa-mobile-alt"></i>    Your phone number here.</p>
            </div>
            <div class="col-sm-12 col-md-7">
                <nav class="footer-nav floating-right">
                    <a href="{{site.url}}" class="maroon">Home</a>
                    <a href="{{'about.html' | relative_url}}">About</a>
                    <a href="{{'related-publications.html' | relative_url}}">Related Publications</a>
                    <a href="{{'advisory-board.html' | relative_url}}">Advisory Board</a>
                    <a href="{{'contact.html' | relative_url}}">Contact</a>

                </nav>
                <p class="foot-logo floating-right"><img src="{{ 'assets/img/aammn_white.png' | relative_url }}" class="head-img-res img-fluid" alt=""> </p>

            </div>
        </div>
    </div>
    <p class="float-in-down">&copy All Rights reserved </p>
</footer>