.head-img
    width: 350px
    height: 56px

.head-img-res
    width: 350px
    height: 56px    

.my-bg
    background-color: #333

.my-link
    color: #fff !important
    transition-duration: 0.3s
    &:hover
        color: #afafaf !important

.my-active
    color: #ed0000 !important
    &:hover
        color: #af0000 !important


@media screen and (max-width:520px)
    .head-img-res
        width: 210px
        height: 34px 
    .navbar-toggler-icon
        font-size: 12px !important

@media screen and (max-width:320px)
    .navbar-toggler-icon
        font-size: 9px !important
