<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">
    <title>{{site.name}} | Advisory Board</title>
</head>
<body>
        <nav class="navbar navbar-expand-lg my-bg navbar-dark">

                <a href="{{site.url}}" class="navbar-brand d-block d-lg-none floating-left"><img src="{{ 'assets/img/aammn_white.png' | relative_url }}" class="head-img-res img-fluid" alt=""></a>
            
                <button class="navbar-toggler" data-toggle="collapse" data-target="#collpase_target">
                        <span class="navbar-toggler-icon"></span>
                </button>
            
            
            
                <div class="collapse navbar-collapse" id="collpase_target">
            
                <a href="{{site.url}}" class="navbar-brand d-none d-lg-block floating-left"><img src="{{ 'assets/img/aammn_white.png' | relative_url }}" class="head-img img-fluid" alt=""></a>
            
            
                <ul class="navbar-nav ml-auto floating-right">
                    <li class="nav-item">
                        <a href="{{site.url}}" class="nav-link my-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{'about.html' | relative_url}}" class="nav-link my-link">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{'related-publications.html' | relative_url}}" class="nav-link my-link">Related Publications</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{'advisory-board.html' | relative_url}}" class="nav-link my-link my-active">Advisory Board</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{'contact.html' | relative_url}}" class="nav-link my-link">Contact</a>
                    </li>
                </ul>
            
                </div>
            </nav>

            <div class="bg-heading advisory-div">
                    <h2 class="float-in-down"> <span class="maroon">Advisory </span>Board</h2>
                </div>

            <h2 class="founder-txt floating-left"> <span class="maroon">aammn</span> founder</h2>
            
            <div class="contact-grid">
                <div class="row float-in-down">
                    
                    <div class="col-sm-12 contact-card">
                        <div class="contact-person">
                            <div class="mugshot christopher"></div>
                            <h3 class="maroon">Dr. Christopher C. Jett</h3>
                            <p>Dr. Christopher C. Jett is Associate Professor of Mathematics Education in the Department of Mathematics at the University of West Georgia, where he became the first African American to earn tenure in the College of Science and Mathematics. His current grant project investigates the mathematics experiences and career decisions of high-achieving African American male STEM majors at four different institution types using qualitative methods. His scholarship has been published in various academic outlets, including the Journal of Negro Education, the Journal of African American Studies, Mathematics Teacher, and Spectrum.</p>
                        </div>
                    </div>
                
                </div>

            <h2 class="advisory-board-txt floating-right">Advisory <span class="maroon">Board</span> Members</h2>


                <div class="row float-in-down">
                    
                        <div class="col-sm-12 col-md-6 contact-card">
                            <div class="contact-person">
                                <div class="mugshot jacqueline"></div>
                                <h3 class="maroon">Dr. Jacqueline Leonard</h3>
                                <p>Dr. Jacqueline Leonard is the Director of the Science and Mathematics Teaching Center (SMTC) and Professor of Mathematics Education in the Department of Elementary and Early Childhood Education at the University of Wyoming. She is the first person of color to serve as the SMTC Director in the center’s 42-year history. Her research agenda focuses on teaching mathematics for cultural relevance. She has published numerous articles, authored Culturally Specific Pedagogy in the Mathematics Classroom: Strategies for Teachers and Students, and served as lead editor of The Brilliance of Black Children in Mathematics: Beyond the Numbers and Toward New Discourse.</p>
                            </div>
                        </div>
    
                        <div class="col-sm-12 col-md-6 contact-card">
                            <div class="contact-person">
                                <div class="mugshot robert"></div>
                                <h3 class="maroon">Dr. Robert T. Palmer </h3>
                                <p>Dr. Robert T. Palmer is Interim Chair and Associate Professor in the Department of Educational Leadership and Policy Studies at Howard University. His research examines issues of access, equity, retention, persistence, and the college experiences of racial and ethnic minorities. His scholarship has been published in numerous journals including the Journal of Diversity in Higher Education, Journal of Negro Education, and Teachers College Record. Additionally, he has published several books including the African American Student’s Guide to STEM Careers, Black Men in Higher Education: A Guide to Ensuring Success, and STEM Models of Success: Programs, Policies, and Practices</p>
                            </div>
                        </div>
                    
                </div>

                <div class="row float-in-down">
                    
                        <div class="col-sm-12 col-md-6 contact-card">
                            <div class="contact-person">
                                <div class="mugshot christine"></div>
                                <h3 class="maroon">Dr. Christine D. Thomas</h3>
                                <p>Dr. Christine D. Thomas is Professor of Mathematics Education in the Department of Middle and Secondary Education at Georgia State University. Her research is grounded in developing, enhancing, and retaining effective mathematics teachers in urban high-need schools. An ongoing specific focus of her research is the investigation of the influence of a sustained community of practice on the retention of mathematics teachers in urban high-need schools. Her scholarship has been published in Contemporary Issues in Technology and Teacher Education, Mathematics Teacher, and Teaching and Teacher Education.</p>
                            </div>
                        </div>
    
                        <div class="col-sm-12 col-md-6 contact-card">
                            <div class="contact-person">
                                <div class="mugshot erica"></div>
                                <h3 class="maroon">Dr. Erica N. Walker </h3>
                                <p>Dr. Erica N. Walker is Professor of Mathematics and Education at Teachers College, Columbia University. Her research draws on historical and contemporary contexts to explore how people learn and are socialized to do mathematics in various “communities” (peer, neighborhood, school, family, and home). She also explores how teachers can capitalize on students’ strengths (rather than focus on students’ “deficits”) to improve students’ mathematics outcomes. Her scholarship has been published in many journals including the American Educational Research Journal. In addition, she is the author of Building Mathematics Learning Communities: Improving Outcomes in Urban Schools and Beyond Banneker: Black Mathematicians and the Paths to Excellence.</p>
                            </div>
                        </div>
                    
                </div>


                <div class="row float-in-down">
                    
                    <div class="col-sm-12 col-md-6 contact-card">
                        <div class="contact-person">
                            <div class="mugshot duane"></div>
                            <h3 class="maroon">Dr. Duane Cooper </h3>
                            <p>Dr. Duane Cooper is Associate Professor and Chair of the Department of Mathematics at Morehouse College. His research interests are in the mathematics of voting and representation, with particular interests in election procedures that allow for fair representation. In addition, he has experience and continued interest in mathematics student and teacher development. His scholarship has been published in the Journal of Mathematics Teacher Education, Notices of the American Mathematical Society, and Public Choice. 
                            </p>
                        </div>
                    </div>

                
            </div>                
            </div>



    {% include footer.html %}


    <script src="{{ 'assets/js/jquery.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/bootstrap.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/scrollreveal.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/main.js' | relative_url }}"></script>


</body>
</html>